@import "mdb-ui-kit/css/mdb.min.css";


/* <uniquifier>: Use a unique and descriptive class name*/
/* <weight>: Use a value from 100 to 700*/

html {
  min-height: 100%;
  height: 100svh;
  width: 100%;
    margin: 0;
    padding: 0;
    background-color: #000000 !important;
}



p{
    font-family: "Cinzel", serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-size: large !important;

    color: linergradient(to right, #c2c2c2, #ffffff) !important;

    /* جعل المسافات بين الحروف أكبر */
    letter-spacing: 1px;
    /* جعل الحروف أكبر */
    font-size: 1.5rem !important;
    /* ��عل النص ي��هر بشكل أفضل */
    text-rendering:geometricPrecision;
    /* جعل مسافات بين السطور الجمله  */
    line-height: 1.4rem !important;
    /* جعل النص يظهر بشكل أفضل */
    -webkit-font-smoothing: antialiased;
    /* ��عل النص ي��هر بشكل أفضل */
    -moz-osx-font-smoothing: grayscale;
    /* ��عل النص ي��هر بشكل أفضل */
    -webkit-text-stroke: 1px rgba(7, 7, 7, 0.788) !important;
    /* ��عل النص ي��هر بشكل أفضل */
    -webkit-text-stroke: 1px rgba(13, 13, 13, 0.153) !important;
    text-shadow: 1px 2px 1px rgba(0, 0, 0, 0.312) !important;
    padding-left : 20px;
  
}


h1 , h2 , h3 , h4 , h5 , h6 , label , button , a ,span{
   
    font-family: "Cinzel", serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;

    /* تحسين ظهور النص */
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-stroke: 1px rgba(0, 0, 0, 0.103);
}

/* تعريف الألوان في المتغيرات */
:root {
  --color-primary: #000000;
  --color-secondary: #a3673c;
  --color-accent: #d3cdc5;
  --color-background: #737477;
  --color-surface: #505358;
  --text-color-light: #050404;
  --text-color-dark: #F5F5F5;  
  --text-color-highlight:  #E7E3D5;
  --text-color-highlight2: #5c7687;
  --border-color-highlight: #dde1e3c4;
  --backdrop-filter: #dde1e3c4;
}

/* دعم Tailwind */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* الخلفيات */
.bg-day {
    background-image: url('/light3.png');
    transition: background-image 1s ease-in-out, opacity 1s ease-in-out;
    opacity: 0.8;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    /*توضيح الصوره وجعلها عالية الدقه */
    background-blend-mode: overlay;
    filter: brightness(1.0);
    
    image-rendering: optimizeQuality;

}

.bg-night {
    background-image: url( '/darkly.png');
    transition: background-image 1s ease-in-out, opacity 1s ease-in-out;
    opacity: 0.8;
    background-size:  cover;
    background-position: center;
    background-repeat: no-repeat;
    /*توضيح الصوره وجعلها عالية الدقه */
    background-blend-mode: overlay;
    filter: brightness(1.4);
}

/* انتقال الألوان */
.transition-colors {
    transition: background-color 0.5s ease-in-out, color 0.5s ease-in-out;
}

/* ألوان الخلفيات */
.bg-light {
    background: var(--color-background);
}

.bg-dark {
    background: var(--color-surface);
}

/* ألوان النصوص */
.text-light {
    color: var(--text-color-dark);
}

.border-highlight {
    border-color: var(--border-color-highlight);
}
.text-dark {
    color: var(--text-color-light);
}

.text-highlight {
    color: var(--text-color-highlight);
}

.text-highlight2 {
    color: var(--text-color-highlight2);
}

body {
    padding-top: 80px; 
  }
  
  .container {
    padding-top: 20px;
  }

  .carousel-image {
    height: 500px; /* يمكنك ضبط الارتفاع حسب الحاجة */
    object-fit: cover;
  }

  @media (max-width: 768px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;
        margin-bottom : 45px ;
            width :     60%;
    }

    .navbar .flex {
        flex-direction: column;
        align-items: flex-start;
    }

    .navbar .space-x-6 {
        margin-top: 30px;
    }

    .navbar form {
        width: 70%;
        margin-top: 10px;
    }

    .navbar form input {
        width: calc(70% - 40px);
    }

    .navbar form button {
        right: 10px;
    }
}